/* Base styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --orange-color: #FA6334;
    --hover-orange-color: #FF8A65;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
}

input {
    width: 100%;
}

body {
    overflow-x: hidden;
}

button,
input,
textarea,
select,
option {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

li {
    list-style: none;
}

span {
    font-family: inherit;
}

.container {
    margin: 0 auto;
    padding: 0 30px;
}

.orange-btn {
    color: #fff;
    background: var(--orange-color);
    transition: .3s all;
}

.orange-btn:hover {
    background: var(--hover-orange-color);
}

@media(max-width: 479px) {
    .container {
        padding: 0 20px;
    }
}

/* PROMO SECTION */

.promo {
    padding: 102px 0 192px;
    position: relative;
    background: linear-gradient(357.86deg, #1B294C -22.42%, #F3F0EC 22.61%, #FFFFFF 98.2%);
}

.promo__wrapper {
    max-width: 1440px;
}

.promo__title {
    font-size: 85px;
    font-weight: 600;
    line-height: 93.5px;
    letter-spacing: 0.01em;
}

.promo__title span {
    color: var(--orange-color);
}
.promo__descr {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
}

.promo__list {
    margin-top: 107px;
    display: flex;
    flex-direction: column;
    gap: 112px;
    padding-left: 158px;
}

.promo__list-item {
    font-size: 32px;
    font-weight: 500;
    line-height: 35.3px;
    letter-spacing: -1.0086212158203125px;
    position: relative;
    padding-left: 54px;
    transform: translateX(-60vw);
    transition: .8s ease;
}

.promo__list-item br {
    display: none;
}

.promo__list-item::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(../img/promo/list-point.svg) center / contain no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.promo__info {
    position: absolute;
    left: 36.7%;
    top: 59px;
    bottom: -126px;
    width: 1204px;
    height: 1411px;
    background-image: url(../img/promo/promo-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
}

.promo__info__content {
    position: absolute;
    top: 527px;
    left: 404px;
}

.promo__info-title {
    font-size: 68px;
    font-weight: 600;
    line-height: 74.8px;
    letter-spacing: 0.01em;
}

.promo__info-subtitle {
    margin-top: 15px;
    font-size: 50px;
    font-weight: 300;
    line-height: 55px;
    letter-spacing: 0.01em;
    max-width: 552px;
}

.promo__info-decr {
    margin-top: 26px;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    max-width: 531px;
}

.promo__line {
    display: block;
    position: absolute;
    height: 2px;
    width: 258px;
    background: #000000;
}

.promo__line:nth-child(1) {
    top: 525px;
    left: -89px;
}
.promo__line:nth-child(2) {
    top: 674px;
    left: -112px;
}
.promo__line:nth-child(3) {
    bottom: 590px;
    left: -109px;
}
.promo__line:nth-child(4) {
    bottom: 440px;
    left: -46px;
}
.promo__line:nth-child(5) {
    bottom: 295px;
    left: 61px;
}

@media(max-width: 1510px) {
    .promo__info {
        left: 31.7%;
    }
}

@media(max-width: 1439px) {
    .promo {
        padding: 102px 0 148px;
    }
    .promo__title {
        font-size: 72px;
        line-height: 79px;
    }
    .promo__list {
        margin-top: 93px;
        padding-left: 0;
        gap: 90px;
    }
    .promo__list-item {
        font-size: 28px;
        line-height: 102%;
    }
    .promo__list-item br {
        display: block;
    }
    .promo__info {
        top: 190px;
        width: 630px;
        height: 1050px;
        background-image: url(../img/promo/promo-image-1440.png);
        background-position: right top;
        background-size: auto;
        right: 0;
        left: auto;
    }
    .promo__info__content {
        left: auto;
        top: 389px;
        right: 30px;
    }
    .promo__info-title {
        font-size: 48px;
        line-height: 52px;
    }
    .promo__info-subtitle {
        font-size: 36px;
        line-height: 40px;
        max-width: 386px;
    }
    .promo__info-decr {
        max-width: 371px;
    }
    .promo__line {
        width: 187px;
    }
    .promo__line:nth-child(1) {
        top: 345px;
        left: -150px;
    }
    .promo__line:nth-child(2) {
        top: 464px;
        left: -198px;
    }
    .promo__line:nth-child(3) {
        bottom: 435px;
        left: -199px;
    }
    .promo__line:nth-child(4) {
        bottom: 316px;
        left: -155px;
    }
    .promo__line:nth-child(5) {
        bottom: 193px;
        left: -83px;
    }
}

@media(max-width: 999px) {
    .promo {
        padding: 102px 0 69px;
        overflow: hidden;
    }
    .promo__wrapper {
        position: relative;
        z-index: 2;
    }
    .promo__line {
        display: none;
    }
    .promo__info {
        width: 746px;
        height: 1078px;
        top: 256px;
        background-image: url(../img/promo/promo-image-1000.png);
        right: 0;
    }
    .promo__list {
        width: fit-content;
        margin-top: 820px;
        gap: 42px;
    }
    .promo__list-item br {
        display: none;
    }
    .promo__list-item::after {
        content: '';
        position: absolute;
        bottom: -12px;
        right: 0;
        width: 210px;
        height: 1px;
        background: #000000;
    }
}

@media(max-width: 767px) {
    .promo {
        padding: 60px 0 70px;
    }
    .promo__title {
        font-size: 48px;
        line-height: 52px;
    }
    .promo__descr {
        font-size: 28px;
        line-height: 42px;
    }
    .promo__info {
        top: 164px;
        width: 339px;
        height: 684px;
        background-image: url(../img/promo/promo-image-768.png);
    }
    .promo__info__content {
        right: auto;
        left: -77px;
        top: 192px;
    }
    .promo__info-title {
        font-size: 32px;
        line-height: 35px;
    }
    .promo__info-subtitle {
        margin-top: 12px;
        max-width: 382px;
        font-size: 28px;
        line-height: 31px;
    }
    .promo__info-decr {
        margin-top: 20px;
        max-width: 281px;
        font-size: 18px;
        line-height: 24px;
    }
    .promo__list {
        margin-top: 452px;
    }
    .promo__list-item {
        transform: translateX(-80vh);
        font-size: 26px;
        line-height: 35px;
        padding-left: 40px;
    }
    .promo__list-item::before {
        width: 20px;
        height: 20px;
    }
    .promo__list-item::after {
        right: -15%;
    }
}

@media(max-width: 479px) {
    .promo__title {
        font-size: 36px;
        line-height: 39px;
    }
    .promo__descr {
        margin-top: 10px;
        font-size: 24px;
        line-height: 36px;
    }
    .promo__list {
        margin-top: 401px;
        gap: 36px;
    }
    .promo__list-item {
        font-size: 22px;
        line-height: 28px;
    }
    .promo__list-item::after {
        right: -20%;
    }
    .promo__info {
        width: 330px;
    }
    .promo__info__content {
        left: 23px;
    }
    .promo__info-subtitle {
        font-size: 26px;
        line-height: 29px;
    }
    .promo__info-decr {
        font-size: 16px;
        line-height: 24px;
    }
}

/* INFO SECTION */

.info {
    background: #0F0F11;
    padding: 0 30px;
}

.info__wrapper {
    padding: 100px 0 269px;
    max-width: 1158px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.info__item {
    position: relative;
    display: flex;
    border-radius: 20px;
    background: linear-gradient(145.03deg, #0D0D0E 6.23%, #1D1C1B 30.12%, #101010 84.94%);
    box-shadow: 0px 4.39px 4.39px 0px #00000040;
}

.info__main {
    width: calc(100% - 458px);
    border: 2px solid #1E1E1E;
    border-right-width: 0;
    padding: 50px;
    color: #fff;
    border-radius: 20px 0 0 20px;
}

.info__main-title {
    font-size: 50px;
    font-weight: 300;
    line-height: 55px;
    letter-spacing: 0.01em;
}

.info__main-descr {
    margin-top: 25px;
    font-size: 22px;
    font-weight: 400;
    line-height: 41.8px;
}

.info__add {
    position: relative;
    padding: 50px 40px 73px 50px;
    width: 458px;
    border-radius: 20px;
    box-shadow: 0px 0px 16px 0px #00000073;
    border: 2px solid #1E1E1E;
    border-left-width: 0;
    background: linear-gradient(128.2deg, #1F1F1F -0.07%, #2B2B2B 27.55%, #1E1E1E 59.41%, #0E0E0E 96.43%);
}

.info__add-title {
    font-size: 16px;
    font-weight: 800;
    line-height: 28px;
    color: #fff;
}

.info__add-descr {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #BDBDBD;
}

.info__add-icon {
    position: absolute;
    left: -25px;
}

.info__add-icon:nth-child(1) {
    top: 107px;
}
.info__add-icon:nth-child(2) {
    bottom: 165px;
}
.info__add-icon:nth-child(3) {
    bottom: 76px;
}

.info__item:nth-child(2) .info__add {
    padding: 0;
}
.info__item:nth-child(2) .info__add-descr {
    padding: 50px 40px 0 50px;
}

.img-toggle {
    margin-top: 12.71px;
}

.info__introduction {
    overflow: hidden;
    box-shadow: 0px 4.39px 4.39px 0px #00000040;
    border-radius: 20px;
    border: 2px solid #1E1E1E;
    background: url(../img/info/03/cell.png) center top / contain no-repeat;
}

.info__introduction__content {
    padding: 50px 20px 20px 50px;
    color: #fff;
}

.info__introduction-descr {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.info__introduction-descr span {
    font-weight: 700;
}

.introduction__list {
    display: flex;
    border-radius: 20px 20px 0 0;
    padding: 50px;
    padding-top: 42px;
    box-shadow: 0px -6px 27.6px 0px #00000040;
    background: linear-gradient(128.67deg, #1F1F1F -8.81%, #2B2B2B 20.56%, #1E1E1E 54.46%, #0E0E0E 93.84%);
}

.introduction__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.introduction__item-icon {
    margin-left: 24px;
}

.introduction__item:first-child * {
    padding-left: 0;
    margin-left: 0;
}

.introduction__item-text {
    min-width: 230px;
    height: 100%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: #BDBDBD;
    border-right: 1px solid rgba(163, 163, 163, .2);
    padding: 0 24px;
}

.introduction__item:last-child .introduction__item-text {
    padding-right: 0;
    border: none;
}

.introduction__item:nth-child(3) .introduction__item-icon {
    position: relative;
    top: -22px;
}

.arrow-1 {
    position: absolute;
    left: 106px;
    top: 70px;
    content: url(../img/info/03/arrow-1.png);
}

.arrow-2 {
    position: absolute;
    left: 132px;
    top: 25px;
    content: url(../img/info/03/arrow-2.png);
}

.info__education {
    display: flex;
    gap: 20px;
}

.education__main {
    background: linear-gradient(143.24deg, #0D0D0E -15.17%, #1D1C1B 4.5%, #232221 24.24%, #101010 84.79%);
    border: 2px solid #1E1E1E;
    box-shadow: 0px 4.39px 4.39px 0px #00000040;
    border-radius: 20px;
    color: #fff;
    padding: 50px;
}

.education__list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-left: 15px;
}

.education__list-item {
    list-style: disc;
}

.education__scheme {
    content: url(../img/info/04/img.png);
}

.service-bg {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
    content: url(../img/info/05/bg.png);
}

.service__info {
    margin-left: auto;
    width: 402px;
}

.info__offer {
    background: linear-gradient(0.38deg, #170A1C 85.53%, #996979 228.73%);
    overflow: hidden;
    position: absolute;
    bottom: -181px;
    left: 0;
    padding: 67.5px 0 67.5px 192px;
    border-radius: 20px;
    width: 100%;
    color: #fff;
}

.info__offer-title {
    position: relative;
    z-index: 2;
    font-size: 68px;
    font-weight: 600;
    line-height: 74.8px;
    letter-spacing: 0.01em;
}

.info__offer-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 425px;
    height: calc(100% + 11px * 2);
    background: url(../img/info/offer/title-mask.svg) center / cover no-repeat;
}

.info__offer-btn {
    margin-top: 48px;
    padding: 21.5px 70px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.info__offer-bg {
    position: absolute;
    right: -190px;
    top: 50%;
    transform: translateY(-50%);
}

.info__offer-vector {
    position: absolute;
    top: -164px;
    left: 427px;
    filter: blur(184.9px);
}

@media(max-width: 1439px) {
    .info__wrapper {
        padding: 80px 0 198px;
    }
    .info__main-title {
        font-size: 36px;
        line-height: 39.6px;
    }
    .info__main-descr {
        font-size: 20px;
        line-height: 38px;
    }
    .info__item:first-child .info__main {
        padding-right: 84px;
    }
    .info__item:nth-child(2) .info__main {
        padding: 50px 20px 50px 40px;
    }
    .info__add-icon:nth-child(2) {
        bottom: auto;
        top: 234px;
    }
    .info__add-icon:nth-child(3) {
        bottom: auto;
        top: 324px;
    }
    .introduction__list {
        padding: 42px 40px 30px 40px;
    }
    .introduction__item-icon {
        width: 90px;
    }
    .introduction__item-text {
        min-width: auto;
        font-size: 14px;
        line-height: 25px;
    }
    .info__introduction__content {
        padding: 50px 50px 16px 50px;
    }
    .info__introduction-descr {
        font-size: 14px;
        line-height: 22px;
        max-width: 586px;
    }
    .arrow-1 {
        content: url(../img/info/03/arrow-1-1440.png);
    }
    .arrow-2 {
        content: url(../img/info/03/arrow-2-1440.png);
    }
    .info__education {
        gap: 28px;
    }
    .info__education .education__main {
        padding: 50px;
        padding-left: 40px;
    }
    .education__scheme {
        content: url(../img/info/04/img-1440.png);
    }
    .service-bg {
        content: url(../img/info/05/bg-1440.png);
    }
    .info__offer {
        padding: 50px;
        padding-left: 81px;
        bottom: -250px;
    }
    .info__offer-title {
        max-width: 449px;
    }
    .info__offer-btn {
        margin-top: 30px;
    }
    .info__offer-title::before {
        width: 600px;
    }
}

@media(max-width: 999px) {
    .info__item {
        flex-direction: column;
        gap: 20px;
        background: none;
        box-shadow: none;
    }
    .info__main {
        border-radius: 20px;
        width: 100%;
        border-right-width: 1px;
    }
    .info__add {
        width: 100%;
        border-left-width: 1px;
    }
    .info__item:first-child .info__main {
        padding: 40px;
        padding-bottom: 32px;
    }

    .info__item:first-child .info__add {
        padding: 40px 23px 44px 120px;
    }

    .info__add__icons {
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 32px;
    }

    .info__add-icon {
        position: static;
    }
    .info__education {
        flex-direction: column;
    }
    .info__item:nth-child(2) .info__add {
        display: flex;
    }
    .info__item:nth-child(2) .info__add-descr {
        padding: 40px;
    }
    .img-toggle {
        max-width: 50%;
        margin: 11px 0;
        margin-right: 18px;
    }
    .info__introduction__content {
        padding: 40px 20px 20px 40px;
    }
    .info__introduction-descr {
        max-width: 619px;
    }
    .introduction__list {
        padding: 40px;
        flex-direction: column;
    }
    .introduction__item-icon {
        top: 0 !important;
        margin: 0 !important;
        position: relative;
        z-index: 2;
    }
    .introduction__item-text {
        width: 100%;
        margin: 0;
        border-right: 0;
        border-bottom: 1px solid rgba(163, 163, 163, .2);
        padding: 0;
        padding: 28px 0;
    }
    .introduction__item:first-child .introduction__item-text {
        padding-top: 0;
    }
    .introduction__item:last-child .introduction__item-text {
        padding-bottom: 0;
    }
    .introduction__item {
        flex-direction: row;
        align-items: center;
        gap: 32px;
    }
    .arrow-1 {
        content: url(../img/info/03/arrow-1-1000.png);
        left: 21px;
        top: 70px;
    }
    .arrow-2 {
        left: 64px;
        top: 53px;
        content: url(../img/info/03/arrow-2-1000.png);
    }
    .info__education .education__main {
        padding: 40px;
    }
    .education__scheme {
        content: url(../img/info/04/img-1000.png);
    }
    .service-bg {
        position: static;
    }
    .service__info {
        padding: 40px;
        padding-right: 45px;
    }
    .info__offer {
        bottom: -225px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 582px;
    }
    .info__offer-bg {
        transform: none;
        top: auto;
        bottom: 36px;
        right: -275px;
    }
    .info__offer-btn {
        position: relative;
        z-index: 2;
    }
}

@media(max-width: 767px) {
    .info__wrapper {
        padding: 60px 0 205px;
    }
    .info__main,
    .info__add,
    .info__item:nth-child(2) .info__main,
    .info__item:first-child .info__main {
        padding: 30px;
    }
    .info__main-title {
        font-size: 28px;
        line-height: 31px;
    }
    .info__main-descr {
        font-size: 18px;
        line-height: 34px;
    }
    .info__item:first-child .info__add {
        padding: 30px;
        padding-left: 90px;
    }
    .info__add__icons {
        left: 20px;
    }
    .info__item:nth-child(2) .info__add {
        flex-direction: column;
        padding: 30px;
    }
    .info__item:nth-child(2) .info__add-descr {
        padding: 0;
    }
    .img-toggle {
        margin: 0;
        margin-top: 30px;
        max-width: 100%;
    }
    .info__introduction__content {
        padding: 30px 23px 20px 30px;
    }
    .introduction__list {
        padding: 30px;
        gap: 10px;
    }
    .introduction__item {
        align-items: flex-start;
    }
    .arrow-1 {
        left: 11px;
        top: 86px;
    }
    .arrow-2 {
        top: 96px;
    }
    .introduction__item-icon {
        margin-top: 10px !important;
    }
    .info__education .education__main {
        padding: 30px;
    }
    .service-bg {
        content: url(../img/info/05/bg-768.png);
    }
    .info__offer {
        max-width: 100%;
        padding: 39px;
        bottom: -137px;
    }
    .info__offer-title {
        font-size: 50px;
        line-height: 55px;
    }
    .info__offer-title::before {
        top: 5px;
        transform: none;
        height: 50%;
        width: 100%;
    }
    .info__offer-bg {
        width: 468.33px;
        height: 428px;
        top: -132px;
        right: -234px;
    }
}

@media(max-width: 479px) {
    .info {
        padding: 0;
    }
    .info__wrapper {
        padding: 70px 0 190px;
    }
    .info__main,
    .info__add,
    .info__item:nth-child(2) .info__main,
    .info__item:first-child .info__main {
        padding: 30px 20px;
    }
    .introduction__list {
        padding-right: 20px;
    }
    .education__scheme {
        content: url(../img/info/04/img-360.png);
    }
    .info__offer {
        transform: none;
        width: auto;
        left: 13px;
        right: 13px;
        padding-left: 25px;
    }
}

/* ACCORDEON SECTION */

.accordeon {
    padding-top: 300px;
    background: #F6F4EE;
}

.accordeon__wrapper {
    max-width: 1380px;
    padding-right: 0;
    padding-left: 0;
    max-height: 100%;
    overflow: hidden;
}

.accordeon__item .accordeon__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding: 40px 0;
}

.accordeon__item:nth-child(1) .accordeon__wrapper {
    border-top-width: 0;
}

.accordeon__title {
    font-size: 68px;
    font-weight: 600;
    line-height: 74.8px;
    letter-spacing: 0.01em;
    max-width: 1440px;
}

.accordeon__items {
    margin-top: 40px;
}

.accordeon__item {
    cursor: pointer;
    transition: .6s all;
    padding: 0 30px;
}

.accordeon__item.active {
    background: rgba(213, 181, 99, .2);
}

.accordeon__item-descr,
.accordeon__item-img {
    opacity: 0;
    transition: .3s all;
}

.accordeon__item.active .accordeon__item-descr,
.accordeon__item.active .accordeon__item-img {
    opacity: 1;
    height: auto;
}

.accordeon__item.active .accordeon__item-link {
    width: 102px;
    height: 102px;
    background-size: 42px;
}

.accordeon__item__content {
    max-width: 734px;
    display: flex;
    flex-direction: column;
}

.accordeon__item-category {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.04em;
    color: #807E7E;
}

.accordeon__item-title {
    margin-top: 12px;
    font-size: 50px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0.01em;
}

.accordeon__item-descr {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    max-width: 574px;
}

.accordeon__item-img {
    margin-right: 130px;
}

.accordeon__item-link {
    position: absolute;
    right: 0;
    top: 40px;
    width: 46px;
    height: 46px;
    background-color: var(--orange-color);
    background-image: url(../img/accordeon/link-arrow.svg);
    background-position: center;
    background-size: 19px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: .5s all;
}

.accordeon__item-link:hover {
    background-color: var(--hover-orange-color);
}

@media(max-width: 1439px) {
    .accordeon {
        padding-top: 365px;
    }
    .accordeon__item-title {
        font-size: 36px;
        line-height: 39.6px;
    }
    .accordeon__item__content {
        max-width: 419px;
    }
    .accordeon__item-img {
        margin-top: 69px;
        margin-right: 38px;
    }
}

@media(max-width: 999px) {
    .accordeon {
        padding-top: 325px;
    }
    .accordeon__title {
        font-size: 50px;
        line-height: 55px;
    }
    .accordeon__items {
        margin-top: 20px;
    }
    .accordeon__item.active {
        background: transparent;
    }
    .accordeon__item-category {
        font-size: 20px;
        line-height: 30px;
    }
    .accordeon__item__content {
        max-width: 345px;
    }
    .accordeon__item-title {
        font-size: 32px;
        line-height: 35px;
    }
    .accordeon__item-img {
        margin-top: 60px;
        margin-right: 0;
        max-width: 340px;
        object-fit: contain;
    }
    .accordeon__item-link {
        position: static;
        margin-top: 30px;
        width: 46px !important;
        height: 46px !important;
        background-size: 19px !important;
    }
}

@media(max-width: 767px) {
    .accordeon {
        padding-top: 230px;
        padding-bottom: 12px;
    }
    .accordeon__title {
        font-size: 36px;
        line-height: 39px;
    }
    .accordeon__item-img,
    .accordeon__item__content {
        max-width: 100%;
    }
    .accordeon__item-category {
        order: 1;
        font-size: 16px;
        line-height: 24px;
    }
    .accordeon__item-title {
        order: 2;
        font-size: 28px;
        line-height: 31px;
    }
    .accordeon__item-img {
        order: 3;
        margin-top: 40px;
    }
    .accordeon__item-descr {
        margin-top: 20px;
        order: 4;
    }
    .accordeon__item-link {
        order: 5;
    }
}

@media(max-width: 479px) {
    .accordeon {
        padding-top: 201px;
    }
    .accordeon__item-title {
        font-size: 26px;
        line-height: 29px;
    }
    .accordeon__item {
        padding: 0 20px;
    }
}

/* CASES SECTION */

.cases {
    padding: 120px 0;
    background: #FCFBF8;
}

.cases__wrapper {
    max-width: 1110px;
}

.cases__title {
    font-size: 50px;
    font-weight: 300;
    line-height: 55px;
    text-align: center;
    color: #010314;
}

.cases__items {
    margin-top: 40px;
    display: flex;
    gap: 30px;
}

.cases__column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cases__item {
    box-shadow: 0px 2px 2px 0px #00000014;
    background: #FFFFFF;
    border: 1px solid #21299C14;
    border-radius: 20px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
}

.cases__item.gold {
    background: #F0E7D2;
}

.cases__item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
}

.cases__item-descr {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.cases__column:nth-child(1) .cases__item:nth-child(1) {
    padding-bottom: 97px;
}

.cases__item-img-1 {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.cases__item-img-2 {
    margin-top: auto;
    margin-bottom: -10px;
}

@media(max-width: 1439px) {
    .cases {
        padding: 100px 0;
    }
    .cases__title {
        font-size: 36px;
        line-height: 39.6px;
    }
    .cases__items {
        gap: 20px;
    }
    .cases__column {
        width: 33.33333333%;
        gap: 20px;
    }
    .cases__item {
        padding: 30px;
    }
    .cases__item-title {
        font-size: 16px;
        line-height: 24px;
    }
    .cases__item-descr {
        font-size: 14px;
        line-height: 21px;
    }
    .cases__column:nth-child(1) .cases__item:nth-child(1) {
        padding-bottom: 20px;
    }
    .cases__item-img-1 {
        margin-top: 17px;
        margin-left: auto;
        position: static;
    }
    .cases__item-img-2 {
        width: 225px;
        margin-left: auto;
        margin-right: -10px;
        object-fit: contain;
    }
}

@media(max-width: 999px) {
    .cases__column {
        width: calc(50% - 10px);
    }
    .cases__item-img-2 {
        margin-top: 50px;
    }
}

@media(max-width: 767px) {
    .cases {
        padding: 80px 0;
    }
    .cases__items {
        flex-direction: column;
    }
    .cases__column {
        width: 100%;
    }
    .cases__item-descr {
        max-width: 100%;
        font-size: 16px;
        line-height: 24px;
    }
    .cases__item-img-2 {
        width: 281px;
        margin-bottom: 0;
        margin-top: 54px;
        margin-right: 0;
    }
}

@media(max-width: 479px) {
    .cases__item-img-2 {
        max-width: 100%;
    }
}

.fixed-btn {
    position: fixed;
    z-index: 5;
    max-width: 100%;
    bottom: 30px;
    left: 30px;
    right: 30px;
    padding: 21.5px 0;
    border-radius: 4px;
    transform: translateY(20vh);
    transition: .4s ease;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.fixed-btn.active {
    transform: translateY(0);
}

@media(max-width: 479px) {
    .fixed-btn {
        left: 20px;
        right: 20px;
        bottom: 20px;
    }
}